<h2 class="jumbotron" id="title">Off the Post</h2>

<div class="navbar">
  {{#link-to 'news'}}News{{/link-to}} |
  {{#link-to 'articles'}}Articles{{/link-to}} |
  {{#link-to 'rinks'}}Portland Rinks{{/link-to}}
</div>

{{outlet}}
